.config-cards {
    display: flex;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    box-sizing: border-box;
}

.config-card {
    display: flex;
    flex-direction: column;
    background-color: #fff;
    box-shadow: 2px 2px 3px rgb(0 0 0 / 20%);
    border-radius: 6px;
    font-weight: 500;
    font-size: 16px;
    width: 100%;
    margin: 0 12px;
}

.card-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    font-size: 16px;
}

.card-header {
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgb(57, 118, 199);
    padding: 6px 14px;
    color: #fff;
    border-radius: 6px 6px 0 0;
}

input, select {
    width: 100%;
    height: 30px;
    padding: 0 10px;
    border-radius: 8px;
    border: 1px rgb(168, 168, 168) solid;
    box-sizing: border-box;
}

.field {
    margin-bottom: 16px;
    display: flex;
    flex-direction: column;
    width: 100%;
}



label {
    margin-bottom: 4px;
}

form {
    padding: 14px;
}

.row {
    width: 100%;
    display: flex;
    flex-direction: row;
}

@media screen and (max-width: 800px) {
    label {
        font-size: 13px;
    }
    .wrapper {
        padding: 60px 12px !important;
    }
    .app {
        height: auto !important;
    }
}

@media screen and (max-width: 1045px) {
    .config-cards {
        flex-direction: column;
    }
    .config-card {
        margin-bottom: 40px;
    }
}

select {
    cursor: pointer;
    background-color: #fff;
}

option {
    background-color: #fff;
    color: rgb(98, 107, 119);
    font-weight: 500;
}

.lds-spinner div:after {
    background: #fff;
    content: " ";
    display: block;
    position: absolute;
    top: 29px;
    left: 39px;
    width: 2px;
    height: 6px;
    border-radius: 20%;
}

.lds-spinner {
    color: official;
    display: inline-block;
    position: relative;
    width: 31px;
    height: 22px;
    top: -29px;
    right: 20px;
}

#spinner-one, #spinner-two {
    display: none;
}

.probe-select {
    height: 20px;
    border: none;
    color: #fff;
    background: none;
    width: auto;
    font-size: 16px;
    font-weight: 500;
}